.container {
  position: relative;
}

/* Absolute Center Spinner */
.loading-indicator {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading-indicator:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}


.mat-card {
  margin: 0 4px 4px;
}

.mat-card .mat-card-content {
  padding: 0px;
  line-height: 0px
}

.torch-button {
  position: absolute;
  bottom: 14.4rem;
  right: 15.4rem;
}

.switch-button {
  position: absolute;
  bottom: 14.4rem;
  right: 12.8rem;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.next-button {
  position: absolute;
  top: 21.4rem;
  right: 0.6rem;
  z-index: 1;
}


.ngx-scanner-qrcode {
  display: block;
  position: relative;
}

.ng-hide {
  display: none;
}

