<div class="container">
  <mat-card class="dialogQr">
    <button mat-icon-button class="close-button" (click)="rejectDialogQr()">
      <mat-icon class="close-icon" color="warn">close</mat-icon>
    </button>
    <form [formGroup]="formOrderConfirm" novalidate>
      <mat-card-content class="dialogQr">
        <!-- ngx-scanner-qrcode -->
        <ngx-scanner-qrcode class="ngx-scanner-qrcode" [ngClass]="{'ng-hide': !isQrForm}" #action="scanner" [config]="config" (event)="onEvent($event)"></ngx-scanner-qrcode>
        <!-- loading -->
        <mat-spinner class="loading-indicator" color="primary" [diameter]="36" *ngIf="action.isLoading"></mat-spinner>
        <!-- devices -->
        <button class="switch-button" mat-mini-fab color="primary" [disabled]="!action.isStart"
          (click)="switchCamera()">
          <mat-icon>cameraswitch</mat-icon>
        </button>
        <!-- isTorch -->
        <button class="torch-button" mat-mini-fab color="primary" [disabled]="!action.isStart"
          (click)="action.isTorch = !action.isTorch; handle(action, 'torcher')">
          <mat-icon>{{ action.isTorch ? 'flash_off' : 'flash_on' }}</mat-icon>
        </button>

        <mat-form-field>
          <mat-label>Codigo</mat-label>
          <input matInput type="text" formControlName="code_cil_order">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Referencia</mat-label>
          <input matInput type="text" formControlName="type_cil_order">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Cantidad Kg</mat-label>
          <input matInput type="text" formControlName="qty_kg_order" cdkFocusInitial>
          <button *ngIf="formOrderConfirm.controls.qty_kg_order.valid" matSuffix mat-icon-button aria-label="Clear"
            (click)="formOrderConfirm.controls.qty_kg_order.reset()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

      </mat-card-content>
      <mat-card-actions>
        <!-- New unit button -->
        <button class="next-button" *ngIf="formOrderConfirm.valid" mat-mini-fab color="primary" matTooltip="Siguiente" (click)="nextScanQr()">
          <mat-icon>skip_next</mat-icon>
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
