<!-- Page content -->
<div class="container">
  <!-- Page form start -->
  <form [formGroup]="formOrder">
    <mat-card class="order-card">
      <mat-card-header class="order-card">
        <div mat-card-avatar class="order-header-image"></div>
        <mat-card-title><a><b>N° Pedido:</b></a></mat-card-title>
        <mat-card-subtitle> 01184018 </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="order-card">
        <!--{{ formOrder.get('note')?.value }}-->
        <p><b>Codigo Cliente:</b><br> {{ formOrder.controls.customer_code.value }}
          <br><b>Nombre Cliente:</b><br> {{ formOrder.controls.customer_name.value }}
          <br><b>Detalle del Pedido:</b><br> CIL 18 KG MONTACARGA
        </p>
      </mat-card-content>
    </mat-card>

    <!-- Start form units array with first row must and dynamically add more -->
    <mat-card>
      <mat-card-content>
        <mat-card-title></mat-card-title>
        <mat-card-subtitle>Datos Confirmacion Entrega</mat-card-subtitle>




      </mat-card-content>

      <!-- End form units array -->
      <br />
      <br />
      <!-- Total price calculation formated with angular currency pipe -->
      <div>
        <mat-label>Total Orden {{ totalSum | currency:'USD':'symbol-narrow':'1.2-2'}}</mat-label>
      </div>
      <div>
        <mat-card-actions fxFlexAlign="end" align="end">
          <button [disabled]="formOrder.invalid" mat-raised-button class="mat-success" type="submit" color="primary"
            matTooltip="Guardar">
            <mat-icon>save</mat-icon>
            <span>Guardar</span>
          </button>
          <button routerLink="/admin/orders/list" mat-raised-button color="warn" matTooltip="Cancelar">
            <mat-icon>cancel</mat-icon>
            <span>Cancelar</span>
          </button>
          <!-- floating capture button -->
          <div class="dialog_scrim" *ngIf="openMenu">
          </div>

          <button mat-fab color="accent" (click)="clickMenu()" class="menu-button" [class.mat-elevation-z2]="!isOver"
            [class.mat-elevation-z8]="isOver" (mouseover)="isOver = true" (mouseleave)="isOver = false">
            <i class="material-icons" *ngIf="!openMenu">add</i>
            <i class="material-icons" *ngIf="openMenu">close</i>
          </button>

          <!-- menu button -->
          <button mat-mini-fab class="action-button one mat-elevation-z8" *ngIf="openMenu" color="basic"
            (click)="scanCodeQr(true)">
            <i class="material-icons">qr_code_scanner</i>
          </button>

          <button mat-raised-button class="label labelone mat-elevation-z8" *ngIf="openMenu" color="basic"
            (click)="scanCodeQr(true)">
            Digitalizar
          </button>

          <button mat-mini-fab class="action-button two mat-elevation-z8" *ngIf="openMenu" color="basic"
            (click)="scanCodeQr(false)">
            <i class="material-icons">edit_note</i>
          </button>
          <button mat-raised-button class="label labeltwo mat-elevation-z8" *ngIf="openMenu" color="basic"
            (click)="scanCodeQr(false)">
            Manual
          </button>
          <!-- end floating capture button -->
        </mat-card-actions>
      </div>
    </mat-card>
  </form>
  <!-- Page form end -->
</div>
